.user-selection-page h2{
    color: #469646;
    text-align: center;
    font-family: 'Raleway-Regular';
    padding-top: 50px;
  }
.user-selection-page ol{width: 90%;margin-top:50px;}
.user-selection-page ol li{height: 50px;}
.user-selection-page ul li{list-style-type: none;display: inline-block;font-size: 20px;font-weight: 700;}
.user-selection-page ul li.last{float: right}
.user-selection-page button{ margin:2px; }

.align-center{text-align: center;margin-bottom: 250px;}
.btn-large{width: 25%;font-size: 22px;}